.dropdown {
  position: absolute;
  left: -10px;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 99;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  color: white;
  background-color: rgb(41,92,122);
  border-radius: 0.4rem;
  display: none;
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

/* youtube responsive embedding */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* mobile menu */

@media screen and (max-width: 62rem) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 5rem;
    right: -100%;
    background-image: linear-gradient(
      90deg,
      hsl(221deg 65% 51%) 0%,
      hsl(208deg 100% 43%) 11%,
      hsl(205deg 100% 43%) 22%,
      hsl(202deg 100% 43%) 33%,
      hsl(198deg 100% 42%) 44%,
      hsl(193deg 100% 40%) 56%,
      hsl(189deg 100% 38%) 67%,
      hsl(184deg 100% 36%) 78%,
      hsl(178deg 86% 38%) 89%,
      hsl(170deg 45% 52%) 100%
    );
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    right: 0;
    transition: all 0.5s ease;
  }

  .nav-item {
    width: 100%;
    padding: 0 2rem;
    list-style: none;
    font-size: 1.2rem;
  }
  
  .nav-links {
    width: 100%;
    padding: .5rem;
    cursor: pointer;
    text-align: right;
    display: table;
  }

  .nav-links:hover {
    color: rgb(9, 87, 98);
    transition: all 0.3s ease;
  }


  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 25%);
    font-size: 1.8rem;
  }
}
